h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
}
img{
    width: 381px;
    height: 330px;
}
a{ 
    text-align: center;
    color: rgb(111, 109, 224);
}
.div{
    text-align: center;
    justify-content: center;
}
.img2{
    width: 381px;
    height: 2%;
}
.p{
    text-align: justify;
}
:any-link{
    text-decoration: none;
}